.interests_body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(-45deg, #ffffff, #fca211c6, #000c46, #8ECAE6);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;  
}

.interest-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: -5%;

    
    }

    
    
    .div1 { grid-area: 1 / 2 / 2 / 3; background-color: rgba(255, 255, 255, 0.702); padding: 5%; border-radius: 20px; display: flex; flex-direction: column; flex-wrap: wrap; font-family: 'PT Sans', sans-serif; box-shadow: 10px 10px 20px #0000006b;}
    .div2 { grid-area: 1 / 3 / 2 / 4; background-color: rgba(255, 255, 255, 0.702); padding: 5%; border-radius: 20px;  display: flex;flex-direction: column; flex-wrap: wrap; font-family: 'PT Sans', sans-serif;box-shadow: 10px 10px 20px #0000006b;}
    .div3 { grid-area: 1 / 4 / 2 / 5;background-color: rgba(255, 255, 255, 0.702); padding: 5%; border-radius: 20px;  display: flex; flex-direction: column; flex-wrap: wrap; font-family: 'PT Sans', sans-serif;box-shadow: 10px 10px 20px #0000006b;}
    .div4 { grid-area: 2 / 4 / 3 / 5; background-color: rgba(255, 255, 255, 0.702); padding: 5%; border-radius: 20px; display: flex;flex-direction: column; flex-wrap: wrap; padding-right: 10px; font-family: 'PT Sans', sans-serif; box-shadow: 10px 10px 20px #0000006b;}
    .div5 { grid-area: 2 / 3 / 3 / 4; background-color: rgba(255, 255, 255, 0.702); padding: 5%; border-radius: 20px; display: flex; flex-direction: column; flex-wrap: wrap; font-family: 'PT Sans', sans-serif; box-shadow: 10px 10px 20px #0000006b;}
    .div6 { grid-area: 2 / 2 / 3 / 3; background-color: rgba(255, 255, 255, 0.702); padding: 5%; border-radius: 20px; display: flex;flex-direction: column; flex-wrap: wrap;padding-right: 5px; font-family: 'PT Sans', sans-serif;box-shadow: 10px 10px 20px #0000006b;}
    .div7 { grid-area: 3 / 2 / 4 / 3; background-color: rgba(255, 255, 255, 0.702); padding: 5%; border-radius: 20px; display: flex;flex-direction: column; flex-wrap: wrap; font-family: 'PT Sans', sans-serif;box-shadow: 10px 10px 20px #0000006b;}
    .div8 { grid-area: 3 / 3 / 4 / 4; background-color: rgba(255, 255, 255, 0.702); padding: 5%; border-radius: 20px; display: flex;flex-direction: column; flex-wrap: wrap;padding-right: 6px; font-family: 'PT Sans', sans-serif;box-shadow: 10px 10px 20px #0000006b;}
    .div9 { grid-area: 3 / 4 / 4 / 5; background-color: rgba(255, 255, 255, 0.702); padding: 5%; border-radius: 20px; display: flex;flex-direction: column; flex-wrap: wrap; font-family: 'PT Sans', sans-serif;box-shadow: 10px 10px 20px #0000006b;}
    .div10 { grid-area: 4 / 3 / 5 / 4;background-color: rgba(255, 255, 255, 0.702); padding: 5%; border-radius: 20px; display: flex;flex-direction: column; flex-wrap: wrap; font-family: 'PT Sans', sans-serif; margin-bottom: 25%; box-shadow: 10px 10px 20px #0000006b;}


    .next {
        padding: 10px;
        font-size: 18px;
        border: none;
        background-color: #14213D;
        border: 0;
        border-radius: 56px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        font-size: 18px;
        font-weight: 600;
        outline: 0;
        padding: 16px 21px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: all .3s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
       margin-top: -5%;
      }
    
      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      
      }
      
      
      .next:before {
        background-color: initial;
        background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
        border-radius: 125px;
        content: "";
        height: 50%;
        left: 4%;
        opacity: .5;
        position: absolute;
        top: 0;
        transition: all .3s;
        width: 92%;
      }
      
      .next:hover {
        box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
        transform: scale(1.05);
      }
      
      @media (min-width: 768px) {
        .next {
          padding: 16px 48px;
          
        }
      }

     h1{
margin-top: -5%;
font-size: xx-large;
     }

  
     