
/*need to sort logout button*/

.navatar {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  box-shadow: 15px 15px 20px #000000b9;
  border-color: #ffffffb9;;
  margin-right: 25px;
}

.d-inline-block-align-top{
  max-height: 50px;




  
}

.navLinks{
 color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: medium;
}

.toggle{


  color: white;
}

.navbar_container{
background-color: rgb(1, 1, 35);
font-size: larger;
color: white;
}


@media only screen and (min-width: 1024px){

  .d-inline-block-align-top{
    max-height: 50px;
 
  }


  .navatar {
    max-width: 50px;
      max-height: 50px;
     border-radius: 50%;
     box-shadow: 15px 15px 20px #000000b9;
     border-color: #ffffffb9;;
   margin-right: 25px;
   }

   .navLinks{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: large;
  }
   
}