textarea{
    display: flex;
 width: 290px;
   max-width: 100%;
   height: 150px;
   max-height: 100%;
  border-radius: 20px;
  margin-top: 3%;
  text-align: center;
  box-shadow: 15px 15px 15px #000000b9;
  overflow-y: scroll;
  font-size: large;
  font-family: 'PT Sans', sans-serif;
  padding: 3%;
}



input[type=file]{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.upload :focus{
  outline: 3px solid #fca211c6;
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}


.custom-file-upload {
    background-color: #ffffffaa;
    color: black;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 1%;
    font-family: 'PT Sans', sans-serif;
}

.submit{
        padding: 10px;
        font-size: 18px;
        margin-bottom: 10px;
        border: none;
        background-color: #14213D;
        border: 0;
        border-radius: 56px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        font-size: 18px;
        font-weight: 600;
        outline: 0;
        padding: 16px 21px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: all .3s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }


.upload_picture{
   
    width: 250px;
    height: 250px;
    max-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
   align-self: center;
  border-radius: 50%;
  box-shadow: 15px 15px 20px #000000b9;
  border-color: #000000b9;;
  
     
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  
  }
  
  
  .submit:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
  }
  
  .submit:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
  }
  
  @media (min-width: 768px) {
    .submit {
      padding: 16px 48px;
    }
  }

  label{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: white;   
    font-size: x-large;
   
  }

  .custom-file-upload:focus-within {
    outline: 3px solid #fca211c6;
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
  }

    

  .edit_profile{
      margin-top: 2%;
      margin-bottom: 1%;
    font-family: 'PT Sans', sans-serif;
    color: #ffffff; 
    font-size: xx-large;
    align-items: center;
    justify-content: center;
   font-weight: bolder;
  }

  .submit:focus {
    outline: 3px solid #fca211c6;
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
  }