.register {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(-45deg, #ffffff, #fca211c6, #000c46, #8ECAE6);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  }
  .register__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    box-shadow: 15px 15px 20px #000000b9;
    background-color:#E5E5E5;
  border-radius: 5%;
  }
  .register__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
  }
  .register__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    background-color: #14213D;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .register__btn:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
  }
  
  .register__btn:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
  }
  
  @media (min-width: 768px) {
    .register__btn {
      padding: 16px 48px;
    }
  }
  .register__google {
    background-color: #4285f4;
  }
  .register div {
    margin-top: 7px;
    
  }

 

  h1{
    font-family: 'PT Sans', sans-serif;
    color: #ffffff; 
    font-size: xxx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

  }

  .login_logo{
    margin-top: 1%;
    width: 250px;
    display: flex;
    flex-direction: row;
   align-self: center;
  border-radius: 50%;
  box-shadow: 15px 15px 20px #000000b9;
    background-clip: content-box;
    padding: 1px;
  }